
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap");


img {
  border: 5px solid #555;
}

body {
  font-family: "Noto Sans SC", sans-serif;
  color: rgb(0, 93, 93);
  background: floralwhite;
}

/* Add a class for our "About Us" boxes, so we can reuse the styles */
.aboutus {
  width: 60%;
  border: 3px solid plum;
  text-align: center;
  margin: auto;
}

h1 {
  text-align: center;
}

/* Add a plum background color to the top navigation */
.flex-container {
  display: flex;
  background-color: plum;
  overflow: hidden;
  justify-content: center;
}

/* Style the links inside the navigation bar */

.flex-container a {
  float: left; 
  color: black; 
  text-align: center;
  padding: 10px 10px;
  border: 2px solid black;
  margin: 5px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.flex-container a:hover {
  background-color: #ddd;
  color: black;
}

#searchbar {
  padding-top: 10px;
  height: 30px;

  
}

input::placeholder {
  opacity: 75%;
}

#searchbar input {
  margin: 0 auto;
  display: block;
  text-size-adjust: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width:95%;
  font-size:30px;
  
}

/* Add a color to the active/current link */
/*
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
*/ 